div#infowrapper {
  position: fixed;
  overflow: auto;
  top: 1px;
  left: 25%;
  right: 25%;
  width: 450px;
  padding: 3px;
  opacity: 0.9;
  color: #000;
  background-color: #ffffcc;
  z-index: 200;
  border: 2px solid #FF0;
  min-height: 2px;
}
div#page {
  margin: 0 1%;
  padding-top: 2px;
  width: auto;
}
div.clearer {
  clear: both;
}
img.resize {
  width: 1em;
  height: 1em;
}
p.helplink {
  margin: 0;
}
h1.headermain {
  margin: 10px 0 10px 5px;
}
h2.main {
  padding: 5px 5px 6px;
}
p.copyright {
  text-align: center;
}
div.headermenu {
  margin: 0;
  padding: 3px;
}
div.headermenu div.logininfo {
  margin-bottom: 0.2em;
}
div.breadcrumb {
  padding-top: 0.2em;
  padding-left: 0.2em;
}
div.navbar div.navbutton form {
  float: left;
}
div.navbar div.navbutton {
  margin-top: 3px;
}
div.navbar {
  background-image: url(pix/navbar.png);
  padding: 1px 3px 3px 3px;
  margin-top: 3px;
  clear: both;
}
div#footer {
  padding: 0;
  margin: 5px auto;
  border-style: none;
  background-image: url(pix/footer_g.png);
}
div#content {
  margin: 10px 0 0;
  clear: both;
  border-top-style: none;
  border-bottom-style: none;
}
body.nocoursepage .wraplevel1 {
  background-image: url(pix/content_g.png);
  margin-top: 10px;
  padding-top: 0;
}
ul.section li {
  margin: 0.2em 0;
}
div.bt div {
  font-size: 1px;
  line-height: 0;
  height: 0;
  color: transparent;
}
div.bb div {
  font-size: 1px;
  line-height: 0;
  height: 0;
  color: transparent;
}
div.sideblock div.content * {
  text-align: left;
}
div.sideblock div.bt div {
    background-image: url(pix/box_mask.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    height: 8px;
    left: -9px;
    position: relative;
    width: 9px;
}
div.sideblock div.bt {
    background-image: url(pix/box_mask.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    margin: 0 0 0 9px;
    height: 8px;
    background-color: transparent;
}
div.block_login div.content div.c1 {
  text-align: right;
  margin: 0.3em 0;
}
div.block_login div.content div.btn input {
  text-align: center;
}
div.sideblock ul.list span.c1 {
  padding-left: 0;
}
div.sideblock div.header {
  padding: 0;
  border-style: none;
}
div.sideblock div.content {
  padding: 0.3em 0.3em 0.5em;
  border-style: none;
}
.sideblock .content .message {
  text-align: left;
}
div.sideblock div.calendar-controls span.current {
  text-align: center;
}
body.admin table.generaltable {
  width: 100%;
}
body#course-view tr.section td.side {
  border-style: none;
}
body#course-view tr.section td.content {
  padding-bottom: 1.5em;
  border-style: none;
}
div.que {
  border: 1px solid #F1ECE6;
}
td.sitetopiccontent {
  border-style: none;
}
body#site-index td.categoryboxcontent {
  border-style: none;
}
div.sideblock span.icon {
  display: block;
  float: left;
  margin-right: 0.3em;
}
div.sideblock ul.list li {
  clear: left;
}
body#admin-roles-manage td.generalboxcontent table td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
form.mform div.textarea textarea {
  width: 35em;
}
div#header-home {
  position: relative;
  margin: 5px 0 0;
  padding: 0;
  background-image: url(pix/header_g.png);
}
div#header {
  position: relative;
  margin: 5px 0 0;
  padding: 0;
  background-image: url(pix/header_g.png);
}
td#left-column {
  padding-top: 0;
  padding-right: 5px;
}
td#right-column {
  padding-top: 0;
  padding-left: 5px;
}
table#layout-table {
  margin-top: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table#layout-table td#middle-column {
  padding: 0;
}
table#layout-table td#middle-column .wraplevel2 {
  background-image: url(pix/content_g.png);
}
div.sitetopic {
  border-style: none;
}
div.categorybox {
  border-style: solid;
}
div.mdescr div.images {
  text-align: center;
}
fieldset {
  border-style: none;
}
body#admin-auth td#middle-column {
  padding-bottom: 10px;
}
div.homelink {
  margin: 2px 0 0;
  padding: 0;
}
div.logininfo {
  white-space: nowrap;
}
td#left-column div.sideblock {
  background-image: url(pix/blockborder.png);
}
td#right-column div.sideblock {
  background-image: url(pix/blockborder.png);
}

/*
 * Sideblock rounded corners
 */
div.sideblock div.header div.bt  div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 8px;
}
div.sideblock div.header div.bt {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}
div.sideblock div.header div.i1 {
  background-image: url(pix/border_le.png);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-color: transparent;
  padding: 0 0 0 8px;
}
div.sideblock div.header div.i2 {
  background-image: url(pix/border_ri.png);
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-position: 100% 0;
  background-color: transparent;
  padding: 0 8px 0 0;
}
div.sideblock div.header div.i3 {
  padding: 0 0 5px;
  background-color: transparent;
}
div.sideblock div.i1 {
  background-image: url(pix/border_le.png);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-color: transparent;
  padding: 0 0 0 8px;
}
div.sideblock div.i2 {
  background-image: url(pix/border_ri.png);
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-position: 100% 0;
  background-color: transparent;
  padding: 0 8px 0 0;
}
div.sideblock div.i3 {
  background-color: transparent;
  padding: 0;
  border-style: none;
}
div.sideblock div.bb  div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
div.sideblock div.bb {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}
td#left-column div.hidden div.header {
  border-bottom-style: none;
}
td#right-column div.hidden div.header {
  border-bottom-style: none;
}

/*
 * middle-column pages only have rounded wraplevel2 (the column one)
 * so we define stuff for wraplevel2 and undefine each selector
 * for wraplevel3 and below
 */
td#middle-column div.wraplevel2 div.bt div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
td#middle-column div.wraplevel2 div.wraplevel3 div.bt div {
  background: none;
  height: 0px;
  left: 0px;
  width: 0px;
}
td#middle-column div.wraplevel2 div.bt {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}
td#middle-column div.wraplevel2 div.wraplevel3 div.bt {
  background: none;
  margin: 0px;
  height: 0px;
}
td#middle-column div.wraplevel2 div.i1 {
  background-image: url(pix/border_le.png);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-color: transparent;
  padding: 0 0 0 8px;
}
td#middle-column div.wraplevel2  div.wraplevel3 div.i1 {
  background: none;
  padding: 0px;
}
td#middle-column div.wraplevel2 div.i2 {
  background-image: url(pix/border_ri.png);
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-position: 100% 0;
  background-color: transparent;
  padding: 0 8px 0 0;
}
td#middle-column div.wraplevel2  div.wraplevel3 div.i2 {
  background: none;
  padding: 0px;
}
td#middle-column div.wraplevel2 div.i3 {
  background-color: transparent;
  padding: 0 10px;
}
td#middle-column div.wraplevel2  div.wraplevel3 div.i3 {
  background: none;
  padding: 0px;
}
td#middle-column div.wraplevel2 div.bb div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
td#middle-column div.wraplevel2 div.wraplevel3 div.bb div {
  background: none;
  height: 0px;
  left: 0px;
  width: 0px;
}
td#middle-column div.wraplevel2 div.bb {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}
td#middle-column div.wraplevel2 div.wraplevel3 div.bb {
  background: none;
  margin: 0px;
  height: 0px;
}
/*
 * End of middle-column pages
 */

/*
 * footer explicit rounded corners
 */
div#footer div.bt div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
div#footer div.bt {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
  text-align: left;
}
div#footer div.i1 {
  background-image: url(pix/border_le.png);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-color: transparent;
  padding: 0 0 0 8px;
}
div#footer div.i2 {
  background-image: url(pix/border_ri.png);
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-position: 100% 0;
  background-color: transparent;
  padding: 0 8px 0 0;
}
div#footer div.i3 {
  background-color: transparent;
  padding: 0 10px;
  border-style: none;
}
div#footer div.bb  div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
div#footer div.bb {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
  text-align: left;
}

/*
 * general header explicit rounded corners
 */
div#header div.bt div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
div#header div.bt {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}
div#header div.i1 {
  background-image: url(pix/border_le.png);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-color: transparent;
  padding: 0 0 0 8px;
}
div#header div.i2 {
  background-image: url(pix/border_ri.png);
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-position: 100% 0;
  background-color: transparent;
  padding: 0 8px 0 0;
}
div#header div.i3 {
  background-color: transparent;
  padding: 0 10px;
}
div#header div.bb  div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
div#header div.bb {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}

/*
 * home header explicit rounded corners
 */
div#header-home div.bt  div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
div#header-home div.bt {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}
div#header-home div.i1 {
  background-image: url(pix/border_le.png);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-color: transparent;
  padding: 0 0 0 8px;
}
div#header-home div.i2 {
  background-image: url(pix/border_ri.png);
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-position: 100% 0;
  background-color: transparent;
  padding: 0 8px 0 0;
}
div#header-home div.i3 {
  background-color: transparent;
  padding: 0 10px;
}
div#header-home div.bb  div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
div#header-home div.bb {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}

/*
 * nocourse pages only have rounded wraplevel1 (the content one)
 * so we define stuff for wraplevel1 and undefine each selector
 * for wraplevel2 and below
 */
body.nocoursepage div#content.wraplevel1 div.bt div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
body.nocoursepage div#content.wraplevel1 div.wraplevel2 div.bt div {
  background: none;
  height: 0px;
  left: 0px;
  width: 0px;
}
body.nocoursepage div#content.wraplevel1 div.bt {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}
body.nocoursepage div#content.wraplevel1 div.wraplevel2 div.bt {
  background: none;
  margin: 0px;
  height: 0px;
}
body.nocoursepage div#content.wraplevel1 div.i1 {
  background-image: url(pix/border_le.png);
  background-repeat: repeat-y;
  background-position: 0 0;
  background-color: transparent;
  padding: 0 0 0 8px;
}
body.nocoursepage div#content.wraplevel1 div.wraplevel2 div.i1 {
  background: none;
  padding: 0px;
}
body.nocoursepage div#content.wraplevel1 div.i2 {
  background-image: url(pix/border_ri.png);
  background-repeat: repeat-y;
  background-attachment: scroll;
  background-position: 100% 0;
  background-color: transparent;
  padding: 0 8px 0 0;
}
body.nocoursepage div#content.wraplevel1 div.wraplevel2 div.i2 {
  background: none;
  padding: 0px;
}
body.nocoursepage div#content.wraplevel1 div.i3 {
  background-color: transparent;
  padding: 0 10px;
}
body.nocoursepage div#content.wraplevel1 div.wraplevel2 div.i3 {
  background: none;
  padding: 0px;
}
body.nocoursepage div#content.wraplevel1 div.bb div {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-color: transparent;
  height: 8px;
  left: -9px;
  position: relative;
  width: 9px;
}
body.nocoursepage div#content.wraplevel1 div.wraplevel2 div.bb div {
  background: none;
  height: 0px;
  left: 0px;
  width: 0px;
}
body.nocoursepage div#content.wraplevel1 div.bb {
  background-image: url(pix/box_mask.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin: 0 0 0 9px;
  height: 8px;
  background-color: transparent;
}
body.nocoursepage div#content.wraplevel1 div.wraplevel2 div.bb {
  background: none;
  margin: 0px;
  height: 0px;
}
/*
 * End of nocourse pages
 */
